
.vs/Open-RMM/v16/Server/sqlite3/db.lock
.vs/Open-RMM/v16/.suo
.vs/Open-RMM/v16/Server/sqlite3/storage.ide
.vs/Open-RMM/v16/Server/sqlite3/storage.ide-wal
.vs/Open-RMM/v16/Server/sqlite3/storage.ide-shm
